.menu {
  position: absolute;
  top: 0;
  left: 75px;
  text-align: center;
  width: 80px;
  height: 750px;
  background-color: #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 22px 0px;
  border: solid 2px #d3d3d349;
  z-index: 100;
  
  &__item {
    font-size: 14px;
    font-weight: 400;
    color: grey;
    padding: 13px 0;
    transition: all 0.2s ease-in;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &:hover,
    &:active {
      background-color: #d3d3d327;
    }

    &--active {
      background-color: #d3d3d327;
    }
  }
}

.burgermenu {
  position: relative;
  width: 32px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  cursor: pointer;
  z-index: 10;

  &__line {
    background-color: #fc6a03;
    height: 3px;
    margin-bottom: 6px;
    border-radius: 15px;
    transition: all 0.5s ease-in;

    &:last-child {
      width: 50%;
    }

    &--open {
      &:first-child {
        transition-delay: 0.3s;
        transform: translateY(16px) rotate(315deg);
      }
      &:nth-child(2) {
        transition-delay: 0.3s;
        transform: translateY(7px) rotate(-135deg);
      }
      &:last-child {
        transform: translateY(-7px);
        opacity: 0;
      }
    }
  }
}

.drawer {
  width: 300px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: 5px;
  border-radius: 15px;
  box-shadow: 10px 10px 44px -43px rgba(0, 0, 0, 0.56);
  border: solid 2px rgba(211, 211, 211, 0.151);
  transition: all 0.4s ease-in;

  ul {
    margin-top: 60px;
  }
  &__item {
    font-size: 20px;
    font-weight: 400;
    color: grey;
    padding: 30px;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: solid 1px rgba(211, 211, 211, 0.3);
    }

    &:hover {
      background-color: rgba(211, 211, 211, 0.151);
    }
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 15;
}
